@tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #44b6fb;
$secondary-color: #020710;
$dark-color: #a4a9ac;
$light-color: #b3b4b7;

/* 
 
  Typography
  
*/

h2 {
  font-size: 43px;
  font-weight: 700;
  line-height: 1.1em;

  @media (max-width: 1279.98px) {
    font-size: 36px;
  }

  @media (max-width: 767.98px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1em;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1em;

  @media (max-width: 767.98px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.1em;
}

.bigger {
  font-size: 22px;

  @media (max-width: 1279.98px) {
    font-size: 20px;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
  }
}

.medium {
  font-size: 20px;
}

button {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.9em;
  color: $dark-color;

  @media (max-width: 1279.98px) {
    font-size: 16px;
  }
}

big {
  font-size: 16px;
}

nav {
  font-size: 15px;
}

small {
  font-size: 14px;
}

.section-title {
  line-height: 1.5;
  letter-spacing: 1px;
  color: $main-color;
  text-transform: uppercase;
  font-weight: 700;
}

.text-light {
  color: $light-color;
}

.text-dark {
  color: $dark-color;
}

.text-main {
  color: $main-color;
}

.underline-main {
  text-decoration: underline;
  text-decoration-color: $main-color;
}

.shadow-main {
  box-shadow: 0 10px 40px #44b5fb5b;
}

/* 
 
  Main Styles
  
*/

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: #020710;
  color: white;
  font-size: 18px;

  @media (max-width: 1279.98px) {
    font-size: 16px;
  }
}

.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: 1279.98px) {
    width: 90%;
  }
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-main {
  background-color: $main-color;
}

.bg-secondary {
  background-color: #0b1224;
}

.bg-form {
  background-color: #23262f;
}

.button-main {
  background: $main-color;
  border-radius: 100px;
  padding: 15px 30px;
  color: black;
  font-weight: 700;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 1279.98px) {
    font-size: 16px;
  }
}

.slider-control- {
  &centerleft {
    top: 0 !important;
    right: 40px !important;
    position: absolute;
  }
  &centerright {
    top: 0 !important;
    position: absolute;
  }
}

.hoverOpacity {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

footer {
  background: linear-gradient(to bottom, #0b1224, #020710);
}

.HeroSection,
.radialGradient {
  background: radial-gradient(#44b5fb30, transparent 70%);
}
.ValueSection {
  background: url("/images/drawing-lightning.png") 95% 0 / 180px auto no-repeat;
}
.ProjectSection {
  background: url("/images/drawing-tornado.png") 1% 0 / 20vw auto no-repeat;

  @media (max-width: 1279.98px) {
    background: url("/images/drawing-tornado.png") 98% 30% / 280px auto
      no-repeat;
  }
}
.CTASection {
  background: url("/images/drawing-arrow.png") 98% 0 / 185px auto no-repeat;

  @media (max-width: 1535.98px) {
    background: none;
  }
}

nav span {
  transition: 0.3s;
  &:hover {
    color: $main-color;
  }
}

.NavDropdown {
  top: 70px;
  transition: 0.2s;
  background-color: #141d21;
  border-top: solid 2px $main-color;
  font-size: 15px;
  border-radius: 0 0 4px 4px;
  span {
    display: block;
    padding: 12px 22px;
    width: 180px;
    &:hover {
      background-color: #11191c;
    }
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
  }
}

.NavItemAccord {
  transition: 0.3s;
}

.NavItemExpand {
  &:hover {
    .NavDropdown {
      pointer-events: unset;
      top: 50px;
      opacity: 1;
    }

    .NavItemAccord {
      transform: rotate(180deg);
    }
  }
}

.NavCTA {
  font-size: 15px;
  padding: 9px 22px;
  padding-left: 20px;
  border-radius: 15px;
  border: solid 1px $light-color;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: black;
    span {
      color: black;
    }
  }
}

.ContactInput {
  border: solid 2px #313743;
  outline: none;
  background-color: #313743;
  font-size: 16px;
  color: white;
  padding: 10px 18px;
  border-radius: 16px;
  margin-top: 3px;
  &:focus {
    border: solid 2px $main-color;
  }
}

.HeroCard {
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: max-content;

  @media (max-width: 1279.98px) {
    max-width: 338px;
  }
}

.floatingStar {
  animation-name: floatingAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animationDelay {
  animation-delay: 1s;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.SideNav {
  background: #141d21;
}
